@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: Poppins;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153678, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 30px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #ff5945;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 18px 10px 35px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 14px;
    left: 5px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #edeef0;
    border-radius: 50%;
}

/* Login page CSS*/

.todo-login{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 30px 30px 40px;
    border-radius: 10px;
}

.todo-input{
    width: 100%;
    margin: 5px;
    padding: 20px;
    background: #edeef0;
    border-radius: 10px;
}

.btn-form{
    margin-top:15px;
}

.btn-href{
        border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #ff5945;
}