/***** header *****/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #343434;
    color: white
}

.logo {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;
}

.logo img {
    height: 30px;
}

.logo span {
    letter-spacing: 2px;
}

.navbar a {
    padding: 20px 10px;
    color: inherit;
    padding: auto 0;
    /* background: blue; */
}

.navbar a:hover {
    background-color: #1B1B1B;
    color: inherit;
}


/***** Sign up and Sign in *****/

.form-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    margin: 20px;
    color: #343434;
}

.auth-form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 70px;
}

input {
    padding: 10px 90px 10px 5px;
    margin-bottom: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

.auth-form button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 7px 23px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
}

.auth-form button:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px;
}