/***** header *****/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #343434;
    color: white
}

.logo {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.logo-img {
    height: 30px;
}

.logo span {
    letter-spacing: 2px;
    color: white;
}

.navbar a {
    padding: 23px 10px;
    color: inherit;
    padding: auto 0;
    /* background: blue; */
}

.navbar a:hover {
    background-color: #1B1B1B;
    color: inherit;
}


/***** Sign up and Sign in *****/

.form-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    margin: 20px;
    color: #343434;
}

.auth-form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 70px;
}

input {
    padding: 0 90px 0 5px;
    margin-bottom: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    font-size: 15px;
}

button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 7px 23px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px;
}

/* Home Page CSS */

.statusbar {
    width: 100%;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

/* Add todo Section */

.todo-container {
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    padding: 10px;
    padding-bottom: 0;
}

.todo-input {
    width: 50%;
    height: 80%;
    margin-right: 10px;
    margin-bottom: 0;
}

.datetime {
    width: 20%;
    height: 80%;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0 10px;
}

.todo-btn {
    height: 80%;
    width: 10%;
    font-weight: 600;
    margin: 0;
    margin-right: 10px;
}

/* List of Todo */

.todo-list-container {
    width: 100%;
}

.search-todo {
    width: 65%;
}

.todo-list {
    width: 100%;
}

th {
    padding: 10px 0 10px 0;
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-collapse: collapse;
}

.todo {
    text-align: center;
}