<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - todo</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <form action="http://localhost:3000/api/v1/users/register" method="post" class="todo-app">
            <div>
                <input type="text" placeholder="Enter the Full Name" class="todo-input" name="name" />
                <input type="text" placeholder="Enter the Email" class="todo-input" name="email" />
                <input type="password" Placeholder="Enter the Password" class="todo-input" name="password" />
            </div>
            <div class="btn-form">
                <button type="submit">Sign Up</button>
                <a href="login.html" class="btn-href">Log in</a>
            </div>

        </form>
    </div>

</body>
</html>